* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --while: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    background-color: #EDF2FF;
    user-select: none;
    cursor: pointer;
}

.wrapper {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

#container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#container .container-link {
    max-width: 300px;
    width: 90%;
    margin: 32px auto;
}

#container .container-link header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container .container-link header .image {
    width: 150px;
    margin: auto;
    background-image: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%);




    border-radius: 50%;

    display: flex;
    padding: 4px;
}

#container .container-link header .image img {
    width: 100%;
    border-radius: 50%;
}

#container .container-link header h1 {
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 38px;
    margin-top: 16px;

    color: #00082F;
}

#container .container-link header .insta {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 150%;

    text-decoration: none;
    
    color: rgba(0, 8, 47, 0.8);
    display: flex;
    align-items: center;
    gap: 2px;
}

#container #content-links {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

#container #content-links .item-link {
    background-color: #4263EB;
    padding: 16px 80px;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
    border: 5px solid transparent;
    transition: all 300ms ease-in-out;
    color: #EDF2FF;
    text-decoration: none;
}

#container #content-links .item-link:hover {
    box-shadow: rgba(66, 100, 235, 0.392) 0px 0px 0px 4px;
}

#container footer p {
    margin-top: 48px;
    text-align: center;
    color: #00082F99;
}

#container footer p span {
    color: #ff0000;
}


/* Animations */
#container .container-link header .image {
    animation: fromTop 3s backwards;
}

#container .container-link header h1,
#container .container-link header .insta {
    animation: fromTop 3s backwards;
}



#container #content-links .item-link {
    animation: fromLeft 3s backwards;
}

#container #content-links .item-link:nth-child(2) {
    animation: fromRight 3s backwards;
}

#container footer p {
    animation: fromBottom 3s backwards;
}

@keyframes fromTop {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fromLeft {
    0% {
        opacity: 0;
        transform: translateX(-70px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fromRight {
    0% {
        opacity: 0;
        transform: translateX(70px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fromBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}













#container {
    display: none;
}

.pre-content {
    position: absolute;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.skeleton {
    margin: auto;
    width: 100px;
    height: 100px;
    
    background-color: rgb(38, 64, 198);
  
    border-radius: 100%;  
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
      -webkit-transform: scale(1.0);
      opacity: 0;
    }
  }
  
  @keyframes sk-scaleout {
    0% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0;
    }
  }